<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clother.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6E775EF68AB4EAB01876098BA6550CCF5830BE4F</string>
				<key>dateExpires</key>
				<string>2019-08-29</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E775EF68AB4EAB01876098BA6550CCF5830BE4F</string>
						<key>dateExpires</key>
						<string>2019-08-29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6V75AM9P7</string>
						<key>name</key>
						<string>Kavitha Sundarraj</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E775EF68AB4EAB01876098BA6550CCF5830BE4F</string>
						<key>dateExpires</key>
						<string>2019-08-29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6V75AM9P7</string>
						<key>name</key>
						<string>Kavitha Sundarraj</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E775EF68AB4EAB01876098BA6550CCF5830BE4F</string>
						<key>dateExpires</key>
						<string>2019-08-29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6V75AM9P7</string>
						<key>name</key>
						<string>Kavitha Sundarraj</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E775EF68AB4EAB01876098BA6550CCF5830BE4F</string>
						<key>dateExpires</key>
						<string>2019-08-29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6V75AM9P7</string>
						<key>name</key>
						<string>Kavitha Sundarraj</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E775EF68AB4EAB01876098BA6550CCF5830BE4F</string>
						<key>dateExpires</key>
						<string>2019-08-29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6V75AM9P7</string>
						<key>name</key>
						<string>Kavitha Sundarraj</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E775EF68AB4EAB01876098BA6550CCF5830BE4F</string>
						<key>dateExpires</key>
						<string>2019-08-29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6V75AM9P7</string>
						<key>name</key>
						<string>Kavitha Sundarraj</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E775EF68AB4EAB01876098BA6550CCF5830BE4F</string>
						<key>dateExpires</key>
						<string>2019-08-29</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D6V75AM9P7</string>
						<key>name</key>
						<string>Kavitha Sundarraj</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D6V75AM9P7.DSV.Clother</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>D6V75AM9P7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>D6V75AM9P7.DSV.Clother</string>
				</array>
			</dict>
			<key>name</key>
			<string>Clother.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eeb65a19-4a0b-492f-914b-01cb85356c99</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: DSV.Clother</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D6V75AM9P7</string>
				<key>name</key>
				<string>Kavitha Sundarraj</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
